.asteroids-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

h1,
h2,
form {
  text-align: center;
}


.asteroid {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

.asteroid:hover {
  border: 1px solid red;
  background-color: aqua;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5em;
}